* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: black;
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.golden-words {
    color: #FFAE00;
}

.rainbow-words {
    background: linear-gradient(to right, #FFAE00, #FB00B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

p {
    font-size: 1.5rem;
    color: #b5b8be;
}

@media only screen and (min-width:2400px) {
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width:1919px) and (min-width:1600px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:1599px) and (min-width:1366px) {
    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:1365px) and (min-width:1280px) {
    h1 {
        font-size: 2.1rem;
    }

    p {
        font-size: 1rem;
    }
}

@media only screen and (max-width:1279px) and (min-width:1024px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

@media only screen and (max-width:1023px) and (min-width:600px) {
    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1rem;
    }
}

@media only screen and (max-width:599px) and (min-width:300px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:299px) {
    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.7rem;
    }
}
